[Unit]
Description=OpenStack Masakari Api service
After=mysql.service rabbitmq-server.service ntp.service

[Service]
User=masakari
Group=masakari
Type=simple
WorkingDirectory=/var/lib/masakari
PermissionsStartOnly=true
ExecStart=/usr/local/bin/masakari-api --config-file /etc/masakari/masakari.conf
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
