[Unit]
Description=OpenStack Masakari Instance Monitor service
After=ntp.service

[Service]
User=masakari
Group=masakari
Type=simple
WorkingDirectory=/var/lib/masakari
PermissionsStartOnly=true
ExecStart=/usr/local/bin/masakari-instancemonitor --config-file /etc/masakarimonitors/masakarimonitors.conf
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target