[Unit]
Description=OpenStack Octavia Housekeeping service
After=syslog.target network.target

[Service]
Type=simple
User=octavia
ExecStart=/usr/local/bin/octavia-housekeeping --config-file /etc/octavia/octavia.conf --log-file /var/log/octavia/housekeeping.log
PrivateTmp=true

[Install]
WantedBy=multi-user.target
