[Unit]
Description=OpenStack Image Service deferred image deletion service
After=syslog.target network.target

[Service]
Type=simple
User=glance
# Point ExecStart to your venv binary and specify the configuration layout explicitly
ExecStart=/usr/bin/glance-scrubber --daemon --config-file /etc/glance/glance-scrubber.conf
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
