[Unit]
Description=vip xxx wiper that cleans up dirty side-effects when vip changes
DefaultDependencies=no
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/vaw
RemainAfterExit=yes
TimeoutStartSec=0
StandardOutput=append:/var/log/vaw.log
StandardError=append:/var/log/vaw.log

[Install]
WantedBy=multi-user.target
