[Unit]
Description=vip xxx wiper that cleans up dirty side-effects when vip changes
DefaultDependencies=no
Wants=network-online.target

[Service]
ExecStart=bash -c "/usr/sbin/vaw 0<&- &> /var/log/vaw.log"
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target